RewriteEngine On
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

# Deny access to hidden files and directories
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to sensitive directories
RewriteRule ^(app|vendor|scripts|db)(/|$) - [F]