{% apply spaceless %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/index.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}{% endblock %}
    <script src="/public/index.js"></script>
</body>

</html>
{% endapply %}