{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    {% include 'components/connected-as.html.twig' %}
    
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>
</div>
{% endblock %}