<p>Hello,</p>

<p>This email address has been marked for deletion from your account. If you initiated this, you can ignore this email.</p>

<p>If you did NOT initiate this deletion and wish to cancel it, please click the link below within 7 days:</p>

<p><a href="{{ url }}">Cancel Email Deletion</a></p>

<p>If you do not cancel within 7 days, this email address will be permanently removed from your account.</p>

<p>Thanks,</p>
<p>Your Application Team</p> 