{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Welcome to the homepage :)</h1>
    <p>Can't wait to see what you gonna code ᕕ( ՞ ᗜ ՞ )ᕗ</p>
    {% if current_user.user_role == 'admin' %}
        <a href="/admin" class="btn btn-primary">Go to admin page</a>
    {% endif %}
</div>
{% endblock %}